* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #2e2e2e;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  background-color: #ffffff;
  max-width: 72vw;
  height: 100vh;
}

.left {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: min(50%, 430px);
  height: 100%;
  background: url(image/img.jpg);
  background-position: center;
  background-size: cover;
}

.left .title {
  position: absolute;
  left: 0;
  right: 0;
  top: 180px;
  background-color: rgba(0, 0, 0, 0.712);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: Metal Mania;
  color: white;
  font-size: 2rem;
  padding: 0.3em;
  text-shadow: 3px 3px #db3030;
}

#icon {
  width: 2.2em;
  height: 3em;
}

h1 {
  margin-top: 0.3em;
}

#credit {
  margin-bottom: 10px;
  color: #ffffff;
}

span a:only-child {
  color: #ffffff;
}

.right {
  flex: 1;
}

.para {
  color: #292929;
  margin-top: 135px;
  font-size: 1.2rem;
  font-weight: 600;
}

.para p:last-child {
  margin-top: 20px;
}

.right .title {
  margin-top: 70px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #414141;
}

.form-wrapper {
  display: flex;
  gap: 60px;
  padding-bottom: 20px;
  box-shadow: 0 3px 6px rgba(177, 177, 177, 0.76);
}

form {
  margin-top: 20px;
}

label {
  display: block;
  font-size: 0.6rem;
  color: #5f5f5f;
  letter-spacing: 0.2em;
  font-weight: 500;
  margin-bottom: 0.3em;
}

input[type] {
  font-size: 0.8rem;
  padding: 0.4em 0.7em;
  margin-bottom: 15px;
  width: 220px;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
}

input[type]:focus:valid {
  box-shadow: 2px 2px 8px rgba(138, 138, 138, 0.678);
  outline: 1px solid #5151ff;
}

input[type]:focus:invalid {
  box-shadow: 2px 2px 8px rgba(138, 138, 138, 0.678);
  outline: 1px solid #ff4242;
}

button {
  margin-top: 30px;
  border: none;
  color: white;
  background-color: #db3030;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.8em 3em;
  border-radius: 0.4em;
  box-shadow: 2px 2px 5px rgba(105, 105, 105, 0.8);
  cursor: pointer;
  transition: opacity 0.2s;
}

button:active {
  opacity: 0.7;
}

.left-form,
button,
.right .title,
.para,
form p {
  margin-left: 40px;
}

form p {
  font-size: 0.9rem;
  margin-top: 30px;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(128, 48, 48);
}

.right-form {
  margin-right: 40px;
}